/* IMPORTS */

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
}


/* REGLAS GENERALES */

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Times New Roman', 'Arial';
    padding: 0;
    margin: 0;
}

.dark-mode {
    background-color: #222;
    color: azure;
}

.light-mode {
    background-color: #eee;
    color: #222;
}

section {
    position: relative;
    margin-bottom: 6rem;
}

h2 {
    font-size: 2.5rem;
}

p.dark-mode { 
    color: #d0dddd;
    background-color: inherit;
}

p.light-mode {
    color: #2f2222;
    background-color: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button:active, button.dark-mode:active {
    box-shadow: 4px 4px black inset;
}

svg {
    display: none;
}

.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 0;
    fill: currentColor;
    color: inherit;
    border-radius: 50%;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 1rem 3rem;
    z-index: 2;
}

header.dark-mode {
    background-color: #111;
}

header.light-mode {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links-redes {
    position: relative;
    top: 2px;
    background-color: inherit;
}

.links-redes span {
    position: relative;
    top: -5px;
    font-weight: bold;
    margin-right: 0.5rem;
}

.links-redes div {
    display: inline;
    margin-right: 0.2rem;
}

.links-redes.dark-mode .icon-github:hover,
.links-redes.dark-mode .icon-linkedin:hover {
    background-color: #555;
}

.links-redes.light-mode .icon-github:hover,
.links-redes.light-mode .icon-linkedin:hover {
    background-color: #ccc;
}

.menu {
    background-color: inherit;
}

.menu ul {
    display: flex;
}

.menu li {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.menu.dark-mode li {
    border-right: solid azure 2px;
}

.menu.light-mode li {
    border-right: solid #222 2px;
}

.menu.dark-mode li:first-child {
    border-left: solid azure 2px;
}

.menu.light-mode li:first-child {
    border-left: solid #222 2px;
}

.menu.dark-mode li:hover {
    background-color: azure;
}

.menu.light-mode li:hover {
    background-color: #222;
}

.menu li a {
    padding: 0.5rem 1rem;
}

.menu.dark-mode li:hover a {
    color: #003;
}

.menu.light-mode li:hover a {
    color: #ffd;
}

.botones {
    display: flex;
    align-items: center;
}

.botones button,
.botones .boton-menu {
    cursor: pointer;
}

.botones .boton-modo {
    width: 40px;
    margin-right: 1rem;
    border-radius: 50%;
}

.botones .icon-brightness-contrast {
    position: relative;
    top: 2px;
    width: 1.8rem;
    height: 1.8rem;
}

.botones .boton-mail {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
}

.boton-mail a {
    display: block;
    padding: 0.5rem 1rem;
}

.botones .menu-hamburguesa {
    display: none;
}

.icon-menu {
    width: 2rem;
}


/* MAIN */

main {
    padding: 8rem 3rem 1rem 3rem;
}

.contenedor-introduccion {
    display: grid;
    
}

.grid-item1 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.grid-item1 h1 {
    font-size: 3rem;
}

.grid-item2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding-top: 1rem;
}

.grid-item2 p {
    padding-right: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 80%;
}

.grid-item3 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    padding: 1.2rem 2rem 0 0; 
}

.grid-item3 a {
    position: relative;
}

.grid-item3 a > img {
    transition: opacity 1s;
}

.grid-item3 a:hover img {
    opacity: 0.5;
}

.grid-item3 .descargar {
    position: absolute;
    bottom: 6rem;
    left: 45%;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: #eee;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
}

.grid-item3 a:hover .descargar {
    opacity: 1;
}

.contenedor-conocimientos h2,
.contenedor-proyectos h2 {
    margin-bottom: 2rem;
}

.contenedor-conocimientos div {
    display: flex;
    margin-bottom: 3rem;
}

.contenedor-conocimientos h3 {
    font-size: 2rem;
    align-self: center;
    text-transform: uppercase;
    margin-right: 2rem;
}

.contenedor-conocimientos div > ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.contenedor-conocimientos div > ul > li {
    position: relative;
    padding: 1rem;
    margin: 0.5rem 1.5rem;
    font-weight: bold;
    border-radius: 0.3rem;
    
}

.contenedor-conocimientos.dark-mode div > ul > li,
.proyecto.dark-mode {
    background-color: #333
}

.contenedor-conocimientos.light-mode div > ul > li,
.proyecto.light-mode {
    background-color: #ccc;
}

.contenedor-proyectos {
    margin-bottom: 1rem;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor-flex .proyecto {
    width: 40%;
    margin: 2rem;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.proyecto div {
    text-align: left;
    margin-bottom: 0.5rem;
}

.proyecto div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyecto div a {
    font-size: 1.8rem;
}

.proyecto div a:hover {
    text-shadow: 3px 3px 5px;
}

.proyecto:last-child div a {
    cursor: default;
    text-shadow: none;
}

.proyecto p {
    text-align: left;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}

.proyecto > a {
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.proyecto.dark-mode > a {
    background-color: #0c500c;
}

.proyecto.light-mode > a {
    background-color: #0cbf0c;
}

.icon-embed2 {
    position: relative;
    top: 6px;
    margin-right: 0.2rem;
}


/* FOOTER */

footer {
    padding: 1rem 3rem;
}

footer.dark-mode {
    background-color: black;
}

footer.light-mode {
    background-color: white;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer ul {
    padding-left: 1rem;
}

footer li:first-child {
    margin-bottom: 0.5rem;
}

footer span {
    position: relative;
    top: -8px;
    margin-left: 0.4rem;
}

footer .contenedor-sorpresa {
    width: 10%;
    min-width: 60px;
}

.contenedor-sorpresa img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.sorpresa {
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: 8;
}

@keyframes girar {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }   
}

@media screen and (max-width: 1400px) {

     /* MAIN */

     .grid-item2 p {
        font-size: 1.2rem;
     }

     .proyecto p {
        font-size: 1rem;
     }
}

@media screen and (max-width: 1000px) {
    
    /* REGLAS GENERALES */

    h2 {
        font-size: 1.8rem;
    }


    /* HEADER */

    header {
        padding: 1rem;
    }

    .links-redes span {
        font-size: 0.8rem;
    }

    .menu li a {
        padding: 0.2rem 0.5rem;
    }

    header .botones .boton-mail {
        display: none;
    }


    /* MAIN */

    main {
        padding: 8rem 1rem 1rem 1rem;
    }

    .grid-item1 h1 {
        margin-bottom: 0.5rem;
        font-size: 2.2rem;
    }

    .grid-item2 {
        padding-top: 0.5rem;
    }

    .grid-item2 p {
        padding-right: 0;
        font-size: 1rem;
    }

    .grid-item3 {
        padding-top: 0.7rem;
    }

    .contenedor-conocimientos h3 {
        font-size: 1.5rem;
        margin-right: 1rem;
    }


    /* FOOTER */

    footer {
        padding: 1rem;
    }

    footer h2 {
        font-size: 1.8rem;
    }

}


@media screen and (max-width: 750px) {

    /* REGLAS GENERALES */

    section {
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .menu-hamburguesa ul.visible {
        max-height: 200px;
    }

    .mobile {
        position: absolute;
        top: -80px;   
    }

    
    /* HEADER */

    .links-redes span {
        display: none;
    }

    .menu {
        display: none;
    }

    .botones .boton-modo {
        margin-right: 0;
    }

    .botones .menu-hamburguesa {
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
    }

    .menu-hamburguesa.dark-mode {
        background-color: black;
    }

    .menu-hamburguesa.light-mode {
        background-color: white;
    }

    .menu-hamburguesa ul {
        position: absolute;
        top: 40px;
        right: 0;
        max-height: 0;
        transition: max-height 1s ease-out;
        overflow: hidden;
        background-color: inherit;
    }

    .menu-hamburguesa li a {
        display: block;
        width: 100%;
        padding: 0.5rem 0.4rem;
        transition: background-color 0.5s, color 0.5s;
    }

    .menu-hamburguesa.dark-mode li a:hover {
        background-color: azure;
        color: #003;
    }

    .menu-hamburguesa.light-mode li a:hover {
        background-color: #222;
        color: #ffd;
    }


    /* MAIN */

    main {
        padding-top: 5rem;
    }

    .grid-item1 h1 {
        font-size: 1.7rem;
    }

    .grid-item2 p {
        font-size: 0.8rem;
        max-width: 100%;
    }

    .grid-item3 {
        display: none;
    }

    .contenedor-conocimientos h2,
    .contenedor-proyectos h2 {
        margin-bottom: 1rem;
    }

    .contenedor-conocimientos div {
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;
    }

    .contenedor-conocimientos h3 {
        font-size: 1.2rem;
        margin-right: 0;
    }

    .contenedor-conocimientos div ul {
        justify-content: center;
    }

    .contenedor-conocimientos div ul li {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .contenedor-proyectos .contenedor-flex {
        justify-content: center;
    }

    .contenedor-proyectos .contenedor-flex .proyecto {
        width: 95%;
        margin: 1rem 0;
        padding: 1rem 0.5rem;
    }

    .contenedor-proyectos .proyecto:first-child {
        margin-top: 0;
    }

    .proyecto div a {
        font-size: 1.4rem;
    }

    .proyecto p {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }


    /* FOOTER */

    footer {
        padding: 1rem 0.5rem;
    }

    footer h2 {
        font-size: 1.3rem;
    }

    footer .contenedor-flex {
        justify-content: space-around;
    }

    footer ul {
        padding-left: 0.2rem;
    }

    footer span {
        font-size: 0.8rem;
    }

    .contenedor-flex .contenedor-sorpresa,
    .contenedor-flex .botones {
        margin-top: 1rem;
        margin-left: 0.7rem;
    }
}