/* IMPORTS */

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
}


/* REGLAS GENERALES */

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Times New Roman', 'Arial';
    color: azure;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 1rem 3rem;
    background-color: black;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
}

.links-redes {
    position: relative;
    top: 10px;
}

.links-redes span {
    position: relative;
    top: -5px;
    font-weight: bold;
    margin-right: 0.5rem;
}

.links-redes div {
    display: inline;
    margin-right: 0.2rem;
}

.links-redes div img:hover {
    border-radius: 50%;
    background-color: #555;
}

.menu ul {
    display: flex;
}

.menu li {
    padding: 0.5rem 1rem;
    border-right: solid azure 2px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.menu li:first-child {
    border-left: solid azure 2px;
}

.menu li:hover {
    background-color: azure;
}

.menu li:hover a {
    color: #003;
}

.botones button {
    cursor: pointer;
}

.botones .boton-modo {
    width: 40px;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #222;
}

.botones .boton-mail {
    position: relative;
    top: -7px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: #222;
    color: azure;
    border-radius: 0.5rem;
}

.botones .boton-menu,
.botones ul {
    display: none;
}


/* MAIN */

main {
    padding: 8rem 3rem 1rem 3rem;
}

section.contenedor-introduccion {
    display: grid;
    margin-bottom: 4rem;
}

.grid-item1 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.grid-item1 h1 {
    font-size: 2rem;
}

.grid-item2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding-top: 1rem;
}

.grid-item2 p {
   font-size: 1.2rem;
   font-weight: 500;
}

.grid-item3 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    padding: 0 1rem 0 0; /* dejo esto asi hasta ver como queda con la imagen del CV */
    /* TAL VEZ HAYA QUE PONER UN MAX-WIDTH SI QUEDA MUY GRANDE LA DEL CV */
}

.grid-item3 a {
    position: relative;
}

.grid-item3 img {
    transition: opacity 1s;
}

.grid-item3 a:hover img {
    opacity: 0.5;
}

.grid-item3 .descargar {
    position: absolute;
    bottom: 6rem;
    left: 45%;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: #eee;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
}

.grid-item3 a:hover .descargar {
    opacity: 1;
}


/* FOOTER */